<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=ta, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>id</th>
        <th>name</th>
        <tr th:each="role:${roles}">
            <td th:text="${role.id}"></td>
            <td th:text="${role.name}"></td>
        </tr>
    </table>
    <form action="/role_add" method="post">
        <input type="text" name="id" placeholder="id"><br>
        <input type="text" name="name" placeholder="name"><br>
        <input type="submit" value="valid"></input>
        </br></input>
        </br>
    </form>

    <table>
        <th>email</th>
        <th>password</th>
        <tr th:each="utilisateur:${utilisateurs}">
            <td th:text="${utilisateur.email}"></td>
            <td th:text="${utilisateur.password}"></td>
        </tr>
    </table>
</body>
</html>