<!DOCTYPE html>
<html lang="fr">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/assets/css/index-gestion_profil-contact.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<title>Accueil-SportFemme</title>
</head>
<body>
<header>
    <nav id="accueil">
        <div class="navbar">

                <a href="index.html"><img id="logo-acceuil" src="../static/assets/images/logo.png" alt="logo"></a>
                
                <div class="navbar-lien">
                    <ul>
                    <li><a href="index.html">ACCUEIL</a></li>
                    <li><a href="../templates/pages/entrainement.html">ENTRAINEMENTS</a></li>
                    <li><a href="../templates/pages/nutrition.html">NUTRITION</a></li>
                    <li><a href="../templates/pages/documentaire.html">DOCUMENTAIRES</a></li>
                    <li><a href="../templates/pages/contact.html">CONTACT</a></li>
                    </ul>
                </div>

                <div class="navbar-bouton">
                    <a href="pages/profil.html"><img src="../static/assets/images/logo-sans-background-color.png" alt="image-profil"></a>
                    <button><a href="../templates/pages/inscription.html">SE CONNECTER</a></button>
                </div>
        </div>
        
        <div class="navbar-texte">
                <h1>Bienvenue</h1>
        </div>
    </nav> 
</header>
<main>
        <div class="texte-defilant">
        <span>Rejoignez la communauté des femmes qui se mettent en mouvement ! Rejoignez la communauté des femmes qui se mettent en mouvement ! Rejoignez la communauté des femmes qui se mettent en mouvement !</span>
        </div>
    
    <section id="accueil-pele-mele">

        <div class="accueil-pele-mele-1">
        <div class="photo-accueil" id="motivation">
            <img src="../static/assets/images/index-gestion_profil-contact/boxe-femme-agee.jpg" alt="boxe-femme-agee">
            <div>
                <h4>MOTIVATION</h4>
            </div>

                <div >
                    <p>Chaque goutte de sueur est une victoire sur vos limites, mesdames ; le sport n'est pas seulement un défi physique, c'est une célébration de votre force et de votre détermination.</p>
                </div>
            
        
        </div>

        <div class="photo-accueil" id="sororite">
                <img src="../static/assets/images/index-gestion_profil-contact/femmes-au-gymnase-prendre-photos.jpg" alt="femmes-au-gymnase-prendre-photos" >
                <div >
                    <h4>SORORITE</h4>
                </div>
                <div >
                    <div>
                        <p>Dans l'arène sportive, la sororité transforme les rivales en alliées, créant une force collective qui transcende la compétition.</p> 
                </div>
            </div>
        </div>
        
        
        <div class="photo-accueil" id="inclusion"> 
            <img src="../static/assets/images/index-gestion_profil-contact/femme-bionique.png" alt="femmes-au-gymnase-prendre-photos"  class="large-image">
                <div>
                    <h4>INCLUSION</h4>
                </div>
                                    
                <div >
                     <p>Le sport pour toutes : un terrain de jeu où chaque femme, dans sa singularité, trouve sa place et s'épanouit, enrichissant le monde sportif de sa diversité unique</p>  
                </div>
        </div>
        </div>

        <div class="accueil-pele-mele-2">
        <div class="photo-accueil" id="communaute">
                    
                        <img src="../static/assets/images/index-gestion_profil-contact/groupe-jolies-amies-sportives-prenant-selfie-autoportrait-vue-smartphone-depuis-haut_1163-3523.jpg" alt="femmes-au-gymnase-prendre-photos"  class="large-image">
                        <div>
                            <h4>COMMUNAUTE</h4>
                        </div>
                        <div>
                            <div>
                                <p >Unies par la passion et la persévérance, les femmes sportives ordinaires forment une communauté inspirante où chaque effort compte et chaque progrès est célébré.</p>  
                            </div>
                        </div>
                    
         
    </div> 
    <div class="photo-accueil" id="nutrition">
                        
                            <img src="../static/assets/images/N14.jpg" alt="femmes-au-gymnase-prendre-photos"  class="large-image">
                            <div>
                                <h4>NUTRITION</h4>
                            </div>
                            <div>
                                <div>
                                    <p>Une alimentation équilibrée est le carburant secret des athlètes féminines, nourrissant à la fois leur performance et leur bien-être.</p>  
                                </div>
                            </div>
                           
        </div>

        <div class="photo-accueil" id="documentaire">
                            
                                <img src="../static/assets/images/index-gestion_profil-contact//bandeau_alice_milliat.jpg" alt="femmes-au-gymnase-prendre-photos"  class="large-image">
                                <div>
                                    <h4>DOCUMENTAIRE</h4>
                                </div>
                                <div>
                                    <div>
                                        <p>Les documentaires sur le sport féminin sont des fenêtres sur des parcours extraordinaires, montrant à chaque femme que sa propre histoire sportive mérite d'être écrite et célébrée.</p>  
                                    </div>
                                </div>
                                
        </div> 
        </div>

        <div class="accueil-pele-mele-3">
        <div class="photo-accueil" id="premier-pas">
                                
                                    <img src="../static/assets/images/index-gestion_profil-contact/femme-surpoids-faisant-exercice-dans-escaliers-exterieur.jpg" alt="femmes-au-gymnase-prendre-photos"  class="large-image">
                                    <div>
                                        <h4>PREMIERS PAS</h4>
                                    </div>
                                    
                                        <div>
                                            <p>Chaque foulée hésitante d'une femme ordinaire sur un terrain de sport est une victoire silencieuse, ouvrant la voie à un voyage personnel de découverte et de dépassement de soi.</p>  
                                        </div>
                                    
                                    
        

        
                                
                                   
                                   
        </div>
        <div class="photo-accueil" id="discipline">
                    <img src="../static/assets/images/index-gestion_profil-contact/heureuse-femme-ravie-tient-tapis-yoga.jpg" alt="femmes-au-gymnase-prendre-photos"  >
                    <div>
                        <h4>DISCIPLINE</h4>
                    </div>
                    <div>
                        <div>
                            <p>La discipline sportive au quotidien est le secret des femmes ordinaires pour accomplir des choses extraordinaires, transformant chaque défi en une opportunité de croissance.</p>
                            
                        </div>
                </div>
        </div>
        </div>    
    </section>
</main>
<footer>
<div class="footer-container">
    <div class="left">                
        <div class="logo">
        <div class="logo-container">
            <a href="index.html"><img src="../static/assets/images/logo.png" alt="logo"></a>
        </div>
        <div class="social-media">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        </div>
    </div>
    <div class="centersubscribep">
        <p>Adresse: 15 rue henri  chevreau,75011,Paris</p>
        <p>Tel: 0467897678</p>
        <p>Email: contact@sportfemme.com</p>
    </div>
    <div class="right">
        <div class="subscribe">
            <h3>Abonnez vous</h3>
            <p>Entrez votre email ici pour recevoir des notifications</p>
            <form>
                <div class="input">
                    <input type="email" class="inputtext">
                    <button>S'INSCRIRE</button>
                </div>
            </form>
        </div>
    </div>

        
    </div>       
</div>
<hr>
<div class="copyright">
    <p>© 2024 [Your Name or Company]. All Rights Reserved. | Terms of Service | Privacy Policy</p>
</div>
</footer>
</body>
</html>
